.tabSections {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.description {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.half {
  text-align: left;
}
@media only screen and (max-width: 769px) {
  .descriptionText {
    text-align: center;
    min-width: 100%;
  }
  .descriptionImg {
    text-align: center;
    min-width: 100%;
    overflow: hidden;
  }
}
.halfi {
  min-width: 100%;
  min-height: 100%;
}

.descriptionText {
  width: 60%;
}
.descriptionImg {
  width: 40%;
  object-fit: cover;
}
