.tabSections {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.description {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
.half {
  max-width: 50%;
  text-align: left;
  min-width: 418.7px;
  min-height: 421.18px;
}
